<div class="flex text-center justify-center m-5">
    <div>
        <h2 class="">Purchase Prints on Etsy</h2>
        <h3 class="">Accepting custom orders as well!</h3>
        <a href="https://www.etsy.com/shop/StevKast"><button class="btn btn-primary btn-wide">View shop on
                Etsy
                <mat-icon>arrow_outward</mat-icon>
            </button></a>
    </div>
</div>

<!-- <div class="w-3/4 mx-auto grid grid-cols-2 gap-4">
    <div class="col-span-2 m-2 flex justify-between">
        <h1>Work In Progress - Purchase Prints</h1>
        <button mat-flat-button>Etsy</button>
    </div>

    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Model Name</mat-card-title>
            <mat-card-subtitle>$3</mat-card-subtitle>
            
        </mat-card-title-group>
        <mat-card-content>
            <app-model-display></app-model-display>
            <button mat-stroked-button>View on Etsy</button>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Model Name</mat-card-title>
            <mat-card-subtitle>$3</mat-card-subtitle>
            
        </mat-card-title-group>
        <mat-card-content>
            <app-model-display></app-model-display>
            <button mat-stroked-button>View on Etsy</button>
        </mat-card-content>
    </mat-card>

</div> -->