h1 {
  font-family: "Arial", Arial, sans-serif;
  color: #444444;
  background-color: #aaaaaa;
}

h2 {
  font-family: "Arial", Arial, sans-serif;
  color: #666666;
  background-color: #cccccc;
}

p {
  font-family: "Arial", Arial, sans-serif;
  font-style: italic;
}

ul {
  color: gray;
}

ol {
  color: blue;
}

a:hover {
  color: blue;
}

a {
  text-decoration: none;
  color: inherit;
}
