<mat-card>
    <mat-list>
        <mat-list-item>
            <span>job@stevenkast.com</span>
        </mat-list-item>
        <mat-list-item id="email">
            <a href="mailto:job@stevenkast.com">
                <button mat-raised-button>
                    <mat-icon>mail</mat-icon>
                    Email Me
                </button>
            </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="socials">
            <si icon="linkedin"></si>
            <a href="https://www.linkedin.com/in/stevenkast/">
                <button mat-stroked-button aria-hidden="false" aria-label="linkedin button">
                    LinkedIn
                </button>
            </a>
            <si icon="github"></si>
            <a href="https://github.com/StevKast">
                <button mat-stroked-button aria-hidden="false" aria-label="github button">
                    Github
                </button>
            </a>
        </mat-list-item>
    </mat-list>
</mat-card>