@import '../../../theming';

mat-card {
    margin: 1em;
}

#email a {
    width: 100%;
}

#email button {
    color: map-get($map: $slate-palette, $key: 900);
    background-color: map-get($map: $grn-palette, $key: 900);
    width: 100%;
    margin-bottom: 2em;
}

span {
    text-align: center;
    width: 100%;
}


si {
    margin: 0 1em;
}

#socials {
    margin-top: 1em;
    text-decoration: none;
}

a {
    color: $light-primary-text;
}