body{
  font-family: sans-serif;
  background-color: #cccccc;
}

h1 {
  text-align: center;
}

form{
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 66%;

}

fieldset {
  background-color: #dddddd;
  border: none;
}

input{
  display: block;
  float: none;
  margin: 0px;
}

label{
  display: block;
  float: left;
  margin: 5px;

}

div{
  height: 100px;
}

#city{
  width: 24ch;
}

#state{
  width: 3ch;
}

#zip{
  width: 10ch;
}

input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

input[type="radio"] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}
