<!-- <div class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <div class="mockup-code">
                <pre><code>without prefix</code></pre>
            </div>
            <div class="divider"></div>
            <div class="grid grid-cols-2 gap-4">
                <button mat-stroked-button routerLink="/projects">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="Projects icon">construction</mat-icon>
                    </div>
                    <div class="mb-5">Projects</div>
                </button>
                <button mat-stroked-button routerLink="/3dprinter">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="3D printer icon">coffee_maker</mat-icon>
                    </div>
                    <div class="mb-5">3D Printing</div>
                </button>
                <button mat-stroked-button routerLink="/resume">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="Resume icon">description</mat-icon>
                    </div>
                    <div class="mb-5">Resume</div>
                </button>
                <button mat-stroked-button routerLink="/server">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="Server icon">dns</mat-icon>
                    </div>
                    <div class="mb-5">Server Access</div>
                </button>
            </div>
        </div>
    </div>
</div> -->

<div class="hero min-h-full absolute top-0 left-0">
    <div class="hero-content text-center">
        <div class="">
            <div class="mockup-code bg-base-300">
                <code class="mx-5">Hi I'm Steven - fullstack developer, 3D printing enthusiast, and maker.</code>
            </div>
            <div class="divider"></div>
            <div class="grid gap-x-8 gap-y-4 grid-cols-2">
                <button mat-stroked-button routerLink="/projects" class="md:w-80 lg:w-96">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="Projects icon">construction
                        </mat-icon>
                    </div>
                    <div class="mb-5 md:text-lg font-bold">Projects</div>
                </button>
                <button mat-stroked-button routerLink="/3dprinter" class="md:w-80 lg:w-96">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="3D printer icon">coffee_maker
                        </mat-icon>
                    </div>
                    <div class="mb-5 md:text-lg font-bold">3D Printing</div>
                </button>
                <button mat-stroked-button routerLink="/resume" class="md:w-80 lg:w-96">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="Resume icon">description</mat-icon>
                    </div>
                    <div class="mb-5 md:text-lg font-bold">Resume</div>
                </button>
                <button mat-stroked-button routerLink="/server" class="md:w-80 lg:w-96">
                    <div>
                        <mat-icon class="mt-5" aria-hidden="false" aria-label="Server icon">dns</mat-icon>
                    </div>
                    <div class="mb-5 md:text-lg font-bold">Server Access</div>
                </button>
            </div>
        </div>
    </div>
</div>