<smk-navbar></smk-navbar>

<div class="content">
    <div class="landing-button-tiles">
        <div class="landing-button-row">
            <button mat-stroked-button class="landing-button">Projects</button>
            <button mat-stroked-button class="landing-button">3D Printing</button>
        </div>
        <div class="landing-button-row">
            <button mat-stroked-button class="landing-button">Resume</button>
            <button mat-stroked-button class="landing-button">Server Access</button>
        </div>
    </div>
</div>