body{
  background-color: #31353d;
  color:  #EEEFF7;
  margin: 0;
  font: 100% "Verdana", sans-serif; /*10 / 750 = 0.01333*/
  min-height: 100%;
}

/* Header styles */

header{
  background-color: #445878;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

#headerImages {
  padding: 10px;
}

#headerImages a{
  border: none;
}
#headerImages a:hover{
  background-color: inherit;
}

#mainLogo {
  height: auto;
  max-width: 320px;
  width: 100%;
  transition: background-color 0.25s;
}

/* Footer Styles */

footer{
  background-color: #445878;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-size: 0.625em; /* 10px / 16px = 0.625*/
  line-height: 2em;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer div{
  margin: 6px 4px;
}

footer img{
  height: auto;
}


/* Other Styles */

img{
  max-width: 900px;
  width: 100%;
  height: auto;
}

p{
  background-color: #1C1D21;
  color: #EEEFF7;
  font: 1.25em "Verdana", sans-serif; /*20px / 16px = */
  text-indent: 2em;
  padding: .66667%;
}

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 2.66667% 70px 2.66667%;
  max-width: 900px;
  margin: auto;
}

.content a{
  color: #1C1D21;
  background-color: #92CDCF;
  border: none;
  max-width: 69.295%;
  height: 114px;
  margin: 2.112676%;
  font-weight: bold;
  font-size: 10vw;
  line-height: 1em;
}

@media (min-width:710px) {
  .content a {
    font-size: 72px;
    height: auto;
  }
}

.content h1{
  font-size: 4.5em;
  margin: 11.267%;
  text-align: center;
}

a{
  text-align: center;
  font-size: 1.875em;
  width: 100%;
  max-height: 80px;
  height: 62px;
  border-color: #31353D;
  border-left: solid 1px;
  border-right: solid 1px;
  transition: background-color 0.25s;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  color: #1C1D21;
  line-height: 1.875em;
}

a:hover{
  background-color: #ddd;
}

/* Navigation */

.topnav{
  display: flex;
  align-items: center;
  background-color: #92CDCF;
  max-height: 80px;
}

.active{
  background-color: rgb(161, 161, 161);
}

.topnav .icon {
  display: none;
  height: auto;
}

@media screen and (max-width: 710px) {
  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 710px) {
  .topnav_responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #92CDCF;
  }
  .topnav_responsive .icon {

  }

  .topnav_responsive a {
    border-color: #31353D;
    border: solid 1px;
  }
}

/* Homepage tour preview */

.tourPreview{
  background-color: #1C1D21;
  color: #EEEFF7;
  width: 100%;
  display:grid;
  grid-template-columns: auto auto;
  max-height: 18.7406%;
  height: auto;
}

.tourDates{
  background-color: #1C1D21;
  color: #EEEFF7;
  width: 100%;
  display:flex;
  flex-direction: column;
  max-height: 18.7406%;
  height: auto;
}

.tourDates .tourDate{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tourDates .tourDate h3{
  font-size: 1.3125em;
}

.tourDates .tourDate h4{
  font-size: 1.3125em;
}

.tourDate{
 margin: 1.40845%; /* 10px / 710px*/
 padding: 0.56338%;
 background-color: #31353d;
 width: 95%; /*47.8873%*/
}

.tourDate h2{
  margin: 0;
  font-size: 1.3125em; /* 21px / 16px = 1.3125*/
  font-weight: bold;
}

.tourDate h3{
  margin: 0;
  font-size: 1.125em; /* 18px / 16px = 1.125*/
  font-weight: normal;
  color: #92CDCF;
}

.tourDate h4{
  margin: 0;
  font-size: 1.125em; /* 18px / 16px = 1.125*/
  font-weight: normal;
  font-style: italic;
}
