<mat-toolbar>
    <span routerLink="/home">Steven Kast</span>
    <span class="spacer"></span>
    <button mat-stroked-button aria-hidden="false" aria-label="Projects icon" routerLink="/projects">
        <mat-icon>construction</mat-icon>
        Projects
    </button>
    <button mat-stroked-button aria-hidden="false" aria-label="3D printer icon" routerLink="/3dprinter">
        <mat-icon>coffee_maker</mat-icon>
        3D Printing
    </button>
    <button mat-stroked-button aria-hidden="false" aria-label="Resume icon" routerLink="/resume">
        <mat-icon>description</mat-icon>
        Resume
    </button>
    <button mat-stroked-button aria-hidden="false" aria-label="Server icon" routerLink="/server">
        <mat-icon>dns</mat-icon>
        Servers
    </button>
</mat-toolbar>